*.suo
/CPP2D/x64/Debug
/CPP2D/x64/Release
*.patch
/x64/Debug
/x64/Release
/AStyle.exe
*.opensdf
*.sdf
/format.bat
/todo.txt
/CPP2D_UT_CPP/x64/Debug
/CPP2D_UT_CPP/x64/Release
/doc
/*.vsp
/*.psess
/compile_commands.json
/CPP2D_UT_CPP/*.tmp
/garbage
/CPP2D.VC.db
/*.opendb
/CPP2D_UT_CPP/compile_commands.json
/build
/CPP2D_UT_D
